NODE_EN=production
HOST=localhost
PORT=8009
DOMAIN_SSL=
SECRET_KEY=

# Auto-Restart do Browser (Após X abas abertas)
BROWSER_REQUEST_LIMIT=50

# Redis Cache (Habilitar ou não)
USE_REDIS=false
REDIS_URL=redis://localhost:6379
CACHE_TTL=3600

# Extração de Conteúdo de PDF (Habilitar ou não)
EXTRACT_PDF_TEXT=true

CHROME_BIN=
WSENDPOINT=
